html
  head
    title= title
  body
    h1= message
    img(src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdinozoopasaule.lv%2Fru%2Fnovosti%2Fkak-nauchitsya-ponimat-yazyk-tela-sobaki-139&psig=AOvVaw2I4G7vretV3lfwbFnHyHML&ust=1612241351572000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIiZt5rxx-4CFQAAAAAdAAAAABAJ", alt="Текст если нет картинки")
    h2= 'Cобака'
    a(href="./page2") Ссылка на 2 страницу
