html
  head
    title= title
  body
    h1= message
    img(src="https://dinozoopasaule.lv/ru/getimage/uploads/news/ikkXHS-2AesJFyftXGg2mEg82YscHLdd.png?w=600&h=400&fit=crop", alt="Текст если нет картинки")
    h2= 'Cобака'
    a(href="./page2") Ссылка на 2 страницу
